@font-face {
  font-family: "iconfont"; /* Project id 2499726 */
  src: url('iconfont.woff2?t=1621497000586') format('woff2'),
       url('iconfont.woff?t=1621497000586') format('woff'),
       url('iconfont.ttf?t=1621497000586') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconeye_close:before {
  content: "\e627";
}

.iconeye_open:before {
  content: "\e628";
}

