// 全局通用 scss 变量，不需要引入改文件可直接在 <style> 中使用
// 已通过 sass-resources-loader 插件进行全局解析引入

$headerHeight: 64px;
$menuItemHeight:50px;

$mainColor: #303133; // 主要字体颜色
$tableHeaderColor: #909399; // 表格 th 字体颜色
$actMainColor: #409eff;  // 高亮主要字体颜色
$tipsColor: #AFB5B1; // 文字提示信息字体颜色
// 成功、警告、错误字体颜色
$errorColor: #f56c6c;
$warningColor: #E6A23C;
$successColor: #67C23A; 

// 通用带圆角阴影盒子
@mixin boxShadw ($radius: 4px, $color: rgba(0,0,0,.08)) {
  border-radius: $radius;
  box-shadow: 0px 2px 10px 0px $color;
}

li {
  list-style: none;
}

// 通用 红、绿、灰、三种状态盒子
.sx-stateStyle_Red {
  text-align: center;
  display: inline-block;
  line-height: 30px;
  width: 60px;
  height: 30px;
  color: $errorColor;
  background-color: rgba($color: $errorColor, $alpha: 0.15);
}
.sx-stateStyle_Green {
  text-align: center;
  display: inline-block;
  line-height: 30px;
  width: 60px;
  height: 30px;
  color: $successColor;
  background-color: rgba($color: $successColor, $alpha: 0.15);
}
.sx-stateStyle_Grey {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 60px;
  height: 30px;
  color: $tableHeaderColor;
  background-color: rgba($color: $tableHeaderColor, $alpha: 0.15);
}

// 公用搜索区域
.sx-query{
  background-color: #f5f7fa;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
