// 背景色
$h_bg-white-theme: #fff;
$h_bg-black-theme: #191a23;

// 字体
$h_font-color-white-theme: #515a6e;
$h_font-color-white-themesec: #999;

$h_font-color-black-theme: #fff;
$h_font-color-black-themesec: hsla(0,0%,100%,.7);
