// 背景色
$s_bg-white-theme: #fff;
$s_bg-black-theme: #313640;
$s_act-bg-white-theme: #f0faff;
$s_act-bg-black-theme: #2d8cf0;

// 字体
$s_font-color-white-theme: #515a6e;
$s_font-color-white-themesec: #999;
$s_act-font-color-white-theme: #2d8cf0;

$s_font-color-black-theme: #fff;
$s_font-color-black-themesec: hsla(0,0%,100%,.7);
$s_act-font-color-black-theme: #fff;

// logo图片
$s_bacground-image-white-theme: '~@/assets/img/white-logo.svg';
$s_bacground-image-black-theme: '~@/assets/img/black-logo.svg';

$s_small-logo-white-theme:'~@/assets/img/white-logo-small.svg';
$s_small-logo-black-theme:'~@/assets/img/black-logo-small.svg';